<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>JS PROJECT</title>
    <link href="index.css" rel="stylesheet" />
    <script src="//cdn.jsdelivr.net/npm/phaser@3.55.2/dist/phaser.min.js"></script>
    <script type="module" src='./javascripts/index.js'></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>

<body>
    <div style="display: flex;">
        <div id="phaser-game" class="game" style="float:left">
        </div>
        <div id="score" style="float: right; margin-left:2rem; margin-right:20%">
            <ul>
                <li v-for="(item, index) of scores" :key="item.name">
                    {{index+1}}.{{ item.name }} - {{item.score}}
                </li>
            </ul>
            <input v-model="name" placeholder="Enter Name">
            <button @click="send">send</button>
        </div>
    </div>

    <script>
        var score = new Vue({
            el: '#score',
            data: {
                amount: '',
                scores: [],
                name: '',
            },
            mounted() {
                fetch("https://localhost:5001/API/GameController/GetAllScores")
                    .then((response) => response.json())
                    .then(data => {
                        this.scores = (data.sort((a, b) => (+a.score > +b.score)?-1:1))
                        console.log(this.scores)
                    })
                console.log(this.scores)
                if (localStorage.score) this.amount = localStorage.score;
            },
            methods: {
                send() {
                    fetch("https://localhost:5001/API/GameController/PostScore", {
                        method: 'POST', headers: {
                            'Accept': 'application/json',
                            'Content-Type': 'application/json'
                        }, body: JSON.stringify({ scoreBoardId: 0, score: localStorage.getItem("score"), name: this.name })
                    })
                        .then((response) => response.json()).then(data=>{this.scores.push(data); this.scores.sort((a, b) => (+a.score > +b.score)?-1:1)})
                }
            }
        })
    </script>
</body>

</html>